@page "/fetchdata"
@using System.Text;
@using System.DirectoryServices.AccountManagement;
@using System.DirectoryServices;
@inject HttpClient Http

<PageTitle>Managers</PageTitle>

<h1>Managers</h1>

<p>This component demonstrates fetching data from ActiveDirectory.</p>

<button class="btn btn-outline-primary" @onclick="Run">&#128520;</button>
<br>
<br>
<textarea rows="30" cols="60" @bind-value="output" @bind-value:event="onchange" />

@code {
    private string output { get; set; } = string.Empty;

    private void Run()
    {
        var result = new StringBuilder();
        try
        {
            using (PrincipalContext context = new(ContextType.Domain, "NGIC"))
            {
                var user = UserPrincipal.FindByIdentity(context, "I829478");
                var directoryEntry = user.GetUnderlyingObject() as DirectoryEntry;
                foreach (var item in directoryEntry.Properties)
                {
                    result.AppendLine($"{item}");
                }
            }
            output = result.ToString();
        }
        catch (Exception ex)
        {
            output = ex.ToString();
        }
    }
}
