@page "/"
@using System.Text;

<PageTitle>Index</PageTitle>

<h1 class="text-center">Transformer</h1>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <textarea rows="35" cols="60" @bind-value="input" @bind-value:event="onchange" />
        </div>
        <div class="col-4">
            <div class="container">
                <div class="row">
                    <div class="col d-grid">
                        <button class="btn btn-outline-primary" @onclick="Int">Int</button>
                    </div>
                    <div class="col d-grid">
                        <button class="btn btn-outline-primary" @onclick="StrDouble">"Str"</button>
                    </div>
                    <div class="col d-grid">
                        <button class="btn btn-outline-primary" @onclick="MixDouble">"Mix"</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-grid">
                        <button class="btn btn-outline-primary" @onclick="Entity">Entity</button>
                    </div>
                    <div class="col d-grid">
                        <button class="btn btn-outline-primary" @onclick="StrSingle">'Str'</button>
                    </div>
                    <div class="col d-grid">
                        <button class="btn btn-outline-primary" @onclick="MixSingle">'Mix'</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-grid">
                        <button class="btn btn-outline-primary" @onclick="Snippet">Snippet</button>
                    </div>
                    <div class="col d-grid">
                        <button class="btn btn-outline-primary" @onclick="Json">json</button>
                    </div>
                    <div class="col d-grid">
                        <button class="btn btn-outline-warning" @onclick="Clear">Clear</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <textarea rows="35" cols="60" @bind-value="output" @bind-value:event="onchange" />
        </div>
    </div>
</div>

@code {
    private string input { get; set; } = string.Empty;
    private string output { get; set; } = string.Empty;
    private string error { get; set; } = "Input box is empty.";

    private void Clear()
    {
        input = string.Empty;
        output = string.Empty;
    }

    private void Int() =>
        output = string.IsNullOrEmpty(input)
            ? error
            : input.Replace(Environment.NewLine, ", ");

    private void StrDouble() =>
        output = string.IsNullOrEmpty(input)
            ? error
            : string.Concat("\"", input.Replace(Environment.NewLine, "\", \""), "\"");

    private void StrSingle() =>
        output = string.IsNullOrEmpty(input)
            ? error
            : string.Concat("'", input.Replace(Environment.NewLine, "', '"), "'");

    private void Snippet() =>
        output = string.IsNullOrEmpty(input)
            ? error
            : string.Concat("\"", input.Replace(Environment.NewLine, "\",\n\"").Replace("\t", "\\t").Replace("  ", "\\t"), "\"");

    private void MixDouble()
    {
        if (string.IsNullOrEmpty(input))
        {
            output = error;
            return;
        }
        try
        {
            var inArray = input.Split(Environment.NewLine);
            var result = new StringBuilder();

            foreach (var item in inArray)
            {
                result.AppendFormat(item switch
                {
                    var a when int.TryParse(a, out var ignore) => "{0},",
                    _ => "\"{0}\","
                }, item);
            }
            result.Length--;
            output = result.ToString();
        }
        catch (Exception ex)
        {
            output = ex.Message;
        }
    }

    private void MixSingle()
    {
        if (string.IsNullOrEmpty(input))
        {
            output = error;
            return;
        }
        try
        {
            var inArray = input.Split(Environment.NewLine);
            var result = new StringBuilder();

            foreach (var item in inArray)
            {
                result.AppendFormat(item switch
                {
                    var a when int.TryParse(a, out var ignore) => "{0},",
                    _ => "'{0}',"
                }, item);
            }
            result.Length--;
            output = result.ToString();
        }
        catch (Exception ex)
        {
            output = ex.Message;
        }
    }

    private void Json()
    {
        if (string.IsNullOrEmpty(input))
        {
            output = error;
            return;
        }
        try
        {
            var cols = input.Split(Environment.NewLine)[0].Split("\t");
            var values = input.Split(Environment.NewLine)[1].Split("\t");
            var result = new StringBuilder();

            for (var x = 0; x < cols.Length; x++)
            {
                result.AppendFormat(values[x] switch
                {
                    var a when int.TryParse(a, out int ignored) => "\"{0}\":{1},\n",
                    var b when b.Equals("null", StringComparison.OrdinalIgnoreCase) => string.Empty,
                    var c when string.IsNullOrEmpty(c) => string.Empty,
                    _ => "\"{0}\":\"{1}\",\n"
                }, cols[x], values[x]);
            }
            result.Length -= 2;
            output = $"{{\n{result}\n}}";
        }
        catch (Exception ex)
        {
            output = ex.Message;
        }
    }

    private void Entity()
    {
        if (string.IsNullOrEmpty(input))
        {
            output = error;
            return;
        }
        try
        {
            var lines = input.Split(Environment.NewLine);
            var result = new StringBuilder();

            foreach (var line in lines)
            {
                var properties = line.Split("\t");
                result.AppendFormat("///<summary>\n/// Gets/Sets the {0}.\n///<summary>\n", properties[0]);
                switch (properties.Length)
                {
                    case 1:
                        result.Append($"Insufficient arguments.\n\n");
                        break;
                    case 2:
                        result.Append(properties[1] switch
                        {
                            var a when a.Contains("int", StringComparison.OrdinalIgnoreCase) =>
                                $"public int {properties[0]} {{ get; set; }}\n\n",
                            var b when b.Contains("date", StringComparison.OrdinalIgnoreCase) =>
                                $"public DateTime {properties[0]} {{ get; set; }}\n\n",
                            var b when b.Contains("bit", StringComparison.OrdinalIgnoreCase) =>
                                $"public bool {properties[0]} {{ get; set; }}\n\n",
                            var b when b.Contains("unique", StringComparison.OrdinalIgnoreCase) =>
                                $"public Guid {properties[0]} {{ get; set; }}\n\n",
                            _ => $"public string {properties[0]} {{ get; set; }}\n\n"
                        });
                        break;
                    case 3:
                        string isNullable = properties[2].Equals("YES", StringComparison.OrdinalIgnoreCase) ? "" : "?";
                        result.Append(properties[1] switch
                        {
                            var a when a.Contains("int", StringComparison.OrdinalIgnoreCase) =>
                                $"public int{isNullable} {properties[0]} {{ get; set; }}\n\n",
                            var b when b.Contains("date", StringComparison.OrdinalIgnoreCase) =>
                                $"public DateTime{isNullable} {properties[0]} {{ get; set; }}\n\n",
                            var b when b.Contains("bit", StringComparison.OrdinalIgnoreCase) =>
                                $"public bool{isNullable} {properties[0]} {{ get; set; }}\n\n",
                            var b when b.Contains("unique", StringComparison.OrdinalIgnoreCase) =>
                                $"public Guid{isNullable} {properties[0]} {{ get; set; }}\n\n",
                            _ => $"public string{isNullable} {properties[0]} {{ get; set; }}\n\n"
                        });
                        break;
                    default:
                        break;
                }
            }
            output = result.ToString();
        }
        catch (Exception ex)
        {
            output = ex.Message;
        }
    }
}