@page "/"
@using System.Text;

<PageTitle>Index</PageTitle>

<h1 class="text-center">Transformer</h1>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <textarea rows="35" cols="60" @bind-value="input" @bind-value:event="onchange" />
        </div>
        <div class="col-4">
            <div class="container">
                <div class="row">
                    <div class="col d-grid">
                        <button class="btn btn-outline-primary" @onclick="Int">Int</button>
                    </div>
                    <div class="col d-grid">
                        <button class="btn btn-outline-primary" @onclick="StrDouble">"Str"</button>
                    </div>
                    <div class="col d-grid">
                        <button class="btn btn-outline-primary" @onclick="MixDouble">"Mix"</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-grid">
                        <button class="btn btn-outline-primary" @onclick="Entity">Entity</button>
                    </div>
                    <div class="col d-grid">
                        <button class="btn btn-outline-primary" @onclick="StrSingle">'Str'</button>
                    </div>
                    <div class="col d-grid">
                        <button class="btn btn-outline-primary" @onclick="MixSingle">'Mix'</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-grid">
                        <button class="btn btn-outline-primary" @onclick="Snippet">Snippet</button>
                    </div>
                    <div class="col d-grid">
                        <button class="btn btn-outline-primary" @onclick="Json">json</button>
                    </div>
                    <div class="col d-grid">
                        <button class="btn btn-outline-primary" @onclick="Conversion">Converter</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-grid">
                        <button class="btn btn-outline-primary" @onclick="Schema">Schema</button>
                    </div>
                    <div class="col d-grid">
                        <button class="btn btn-outline-danger" @onclick="Fire">
                            🔥
                        </button>
                    </div>
                    <div class="col d-grid">
                        <button class="btn btn-outline-warning" @onclick="Clear">Clear</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <textarea rows="35" cols="60" @bind-value="output" @bind-value:event="onchange" />
        </div>
    </div>
</div>
